build/*
devel/*
logs/*
.catkin_tools/*

rgbout
depthout
.vscode
src/voxseg/src/modules/ovseg/open_clip_training/openclip_data/*
src/voxseg/src/modules/ovseg/open_clip_training/src/logs/*
*__pycache__*
src/voxseg/src/modules/ovseg/datasets/
src/voxseg/src/modules/ovseg/models/
src/voxseg/src/modules/ovseg/output/
src/voxseg/src/modules/ovseg/test_data/*
src/voxseg/src/modules/ovseg/batch_test/*
